h1 {
    font-family: Snell Roundhand, cursive;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 1px #fff;
    margin-bottom: 0;
}

/*Center book covers*/
td:first-child {text-align: center;}

table {
    position: sticky;
    top: 102px;
}

thead {
    position: sticky;
    top: 102px;
    z-index: 1020;
}

.container-title-tabs {
    background-image: url('data/header-background.jpg');
    background-position: center;
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.nav-link.inactive {
    border-color: white;
    background-color: white;
    opacity: 0.5;
    color: black;
}

#covers-column {
    width: 66px;
}

.modal-content {
    background-color: var(--bs-body-color);
    border-color: white;
}

.modal-title, .modal-body {
    color: white;
}